<!DOCTYPE html>
<html>
  <head>
    <title>Market-Eye API: EOD Stock Markets Analysis</title>
    <meta
      name="description"
      content="Market-Eye API provides methods for computing technical indicators of individual stocks (e.g. MACD, EMAs, MFI, etc.) as well as indicators describing the market as a whole (e.g. CVI, VIX, etc.). The EOD historical data is fetched from Nasdaq Data Link API."
    />
    <meta
      name="keywords"
      content="market-eye, marketeye-api, stock market, api, macd, ema, eod, nyse, nasdaq"
    />
    <meta name="robots" content="index, archive" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('assets', path='/icon.ico') }}"
    />
    <link rel="canonical" href="https://marketeye-api.herokuapp.com/docs" />
  </head>
  <body>
    <h1>Market-Eye API</h1>
    <h2>See Docuemntation v{{ version }}</h2>
    <div>
      <a href="https://marketeye-api.herokuapp.com/docs">Docs</a>
    </div>
  </body>
</html>
